{% extends "AppAlmacen/padre.html" %}
{% load static %}

{% block titulo %}Buscar{% endblock titulo %}
{% block header %}BUSCAR CLIENTES{% endblock header %}
{% block contenidoquecambia %}{% endblock contenidoquecambia %}

{% block formulario %}
<h2>Buscar Clientes</h2>
    <form action="" method="POST">
        {% csrf_token %}
            <input type="text" name="nombre" placeholder="Buscar por nombre...">
            <input type="submit" value="Buscar">
    </form>

    {% endblock formulario %}
