{% extends "AppAlmacen/padre.html" %}
{% load static %}

{% block titulo %}Buscar{% endblock titulo %}
{% block header %}BUSCAR CLIENTES{% endblock header %}
{% block contenidoquecambia %}

{% block formulario %}
{% if clientes %}
    <h3>Clientes encontrados:</h3>
    <ul>
        {% for cliente in clientes %}
       <li>Nombre: {{cliente.nombre}} | email: {{cliente.email}} | Teléfono: {{cliente.telefono}}  </li>
       <a href="{% url 'ClienteEdit' cliente.id %}">Editar</a>  {# Enlace para editar el cliente #}
       <a href="{% url 'ClienteList' %}">Regresar</a>
        {% endfor %}
    </ul>
{% else %}
    <p>No se encontraron clientes.</p>
{% endif %}

{% endblock formulario %}
{% endblock contenidoquecambia %}