{% extends "AppAlmacen/padre.html" %}
{% load static %}

{% block titulo %}Buscar{% endblock titulo %}
{% block header %}BUSCAR CLIENTES{% endblock header %}
{% block contenidoquecambia %}

{% block formulario %}
<h2>Buscar Clientes</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{ formulario.as_p }}  {# Renderiza los campos del formulario como párrafos #}
        <button type="submit">Buscar</button>
        <a class="btn btn-secondary" href="{% url 'ClienteList' %}">Cancelar</a>
    </form>

    {% endblock formulario %}

    {% endblock contenidoquecambia %}
