{% extends "AppAlmacen/padre.html" %}
{% load static %}

{% block title %} Inicio {% endblock title %}

{% block contenidoquecambia %}

<div class="row">
    {% for producto in object_list %}
        <div class="card" style="width: 18rem;" >
            {% if producto.imagen %}
                <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
            {% else %}
                <p>No hay imagen disponible</p>
            {% endif %}
            <div class="card-body">
                {% if producto.oferta %}
                    <h5 class="card-text"><strong style="color: red;">¡¡¡OFERTA!!</strong></h5>
                {% endif %}
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <p class="card-text">Descripción: {{ producto.descripcion }}</p>
                <p class="card-text"><strong>$ {{ producto.precio }}</strong></p>
                <a href="{% url 'ProductoEdit' producto.id %}" class="btn btn-primary">Editar</a>
                <a href="{% url 'ProductoDelete' producto.id %}" class="btn btn-primary">Borrar</a>
            </div>
        </div>
    {% endfor %}
</div>


<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'ProductoCreate' %}">Agregar nuevo</a>
<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'ProductoBuscar' %}">Buscar</a>

{% endblock contenidoquecambia %}