{% extends "AppAlmacen/padre.html" %}
{% load static %}

{% block titulo %}Buscar{% endblock titulo %}
{% block header %}BUSCAR PRODUCTOS{% endblock header %}
{% block contenidoquecambia %}

{% block formulario %}
{% if productos %}
    <h2>Productos Encontrados</h2>
    <div class="row">
        {% for producto in productos %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if producto.imagen %}
                        <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                    {% else %}
                        <p>No hay imagen disponible</p>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.nombre }}</h5>
                        <p class="card-text">Precio: ${{ producto.precio }}</p>
                        {% if producto.oferta %}
                            <p class="card-text text-danger font-weight-bold">¡OFERTA!</p>
                        {% endif %}
                        <a href="{% url 'ProductoEdit' producto.id %}">Editar</a>
                        <a href="{% url 'ProductoBuscar' %}">Regresar</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No se encontraron productos.</p>
    <a href="{% url 'ProductoBuscar' %}">Regresar</a>
{% endif %}

{% endblock formulario %}
{% endblock contenidoquecambia %}