{% extends "AppAlmacen/padre.html" %}
{% load static %}

{% block titulo %}Buscar{% endblock titulo %}
{% block header %}BUSCAR PRODUCTOS{% endblock header %}
{% block contenidoquecambia %}

{% block formulario %}
<h2>Buscar Productos</h2>
<form action="" method="POST">
    {% csrf_token %}
    {{ formulario.as_p }}
    <button type="submit">Buscar</button>
    <a class="btn btn-secondary" href="{% url 'ProductoList' %}">Cancelar</a>
</form>
{% endblock formulario %}

{% endblock contenidoquecambia %}

